html{
    font-size: 25px;
}

body{
    background-color: #d8f0ff;
    font-family: "Comic Relief", system-ui;
}

button{
    font-family: "Comic Relief", system-ui;
    border: 4px solid black;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
}

.center_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-text{
    text-align: center;
}

.italics{
    font-style: italic;
}

.center-button{
    display: block;
    margin: 0 auto;
}

#cross-out{
    text-decoration: line-through;
}

.button-group{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.button{
    font-size: larger;
    padding: 15px;
    margin: 30px;
}

.small-button{
    font-size: large;
    padding: 5px;
    border-width: 3px;
}

.button a{
    text-decoration-line: none;
}

.main-button{
    background-color: #004aad;
    color: #00bf63;
}

.main-button a{
    color: #00bf63;
}

.credit-button{
    background-color: #00bf63;
    color:#004aad
}

.credit-button a{
    color: #004aad;
}

#page1-button{
    width: 50px;
}

.list{
    background-image: url("/media/white-crumpled-paper-texture-background.jpg");
    background-color: #ffffff;
    padding: 20px;
    font-family: "Delicious Handrawn", cursive;
    background-repeat: repeat-y;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    line-height: 50px;
    color: #000042;
}

#page1list{
    position: fixed;
    top:1000px;
    left: 550px;
    z-index: 1;
}

.page8list{
    background-image: url("/media/white-crumpled-paper-texture-background.jpg");
    background-color: #ffffff;
    font-family: "Delicious Handrawn", cursive;
    padding: 5px;
    font-size: small;
    color: #000042;
    width: 150px;
    z-index: 1;
    position: absolute;
    left:800px;
    top: -400px;
}

#page9-8{
    top: 400px;
}

#page9list{
    z-index: 2;
    position: absolute;
    top:1200px;
    left: 550px;
}

#text9{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
}

#normal a{
    color: #000042;
}

#normal a:visited{
    color: #000042;
}

#phone{
margin-top: 7%;
}

#phone:hover{
    cursor: pointer;
}

.pop-ups{
    background-color: white;
    border: black solid 4px;
    border-radius: 100px;
    text-align: center;
    padding: 5px;
    width: 225px;
    font-family: "Rubik Pixels", system-ui;
    z-index: 1;
    position: absolute;
}

#pop-up1{
    top:100px;
    left:-575px;
}

#pop-up2{
    top:175px;
    left:1975px;
}

#pop-up3{
    top: 550px;
    left:-650px;
}

#pop-up4{
    top: 640px;
    left:2000px;
}

#pop-up5{
    top:1350px;
    left:755px;
    font-size: larger;
    opacity: 0;
}

#pop-up5 a{
    color: red;
}

#intro-image{
    margin-top: 5%;
}

#doomscroll{
    opacity: 0;
}
#doomscroll a{
    color: #000042;
    text-decoration: none;
}

#page4text{
    margin-top: 5%;
}

#age-select{
    opacity: 0;
}

#to5{
    width: 15%;
    opacity: 0;
}

#to5link a{
    text-decoration: none;
}

#drink-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    opacity: 0;
}

.drink{
    width: 75%;
}

.drink:hover{
    cursor: pointer;
}

#page5text{
    margin-top: 5%;
}

#page6{
    padding: 5%;
}

#page6-5{
    opacity: 0;
}

#page7{
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#grow{
    font-size: larger;
}

#grow a{
    color: red;
    text-decoration: none;
}